@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  margin: 50px 400px;
}
.nav-bar{
    justify-content: space-between;
}
.banner{
  
}
.banner-img{
    background-color: rgb(243, 243, 231);
}

.display-flex{
    display: flex;
}
.nav-item{
    list-style: none;
    margin-right: 25px;
}
.btn{
    border-color: green;
    background-color: green;
    border-radius: 5px;
    color:#fff;
    padding: 10px 25px;
}
.btn:hover{
    background-color:greenyellow;
    color: black;
}
.Login{
    border-color: green;
    border-radius: 5px;
    background-color:aliceblue;
    color:black;
    padding: 10px 25px;
}
.Login:hover{
    background-color:greenyellow;
    color: #fff;
}
.nav-links {
    text-decoration: none;
}
.nav-button{
    margin-right: 30px ;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
   

}
#services{
    color: green;
    font-weight: 800;

}
.box{
    max-width: 350px;
    margin: 25px auto ;
    text-align: center;
    background-color:rgb(182, 241, 94);
    border-radius: 10px;
}
.content-box {
    justify-content: space-around;
}
.offer{
   
}
#box-cared{
    
}
.box-cared{
    min-height: 402px; 
    max-width: 424px;
    margin: 25px auto ;
   
    padding: 5px;
    background-color:rgb(182, 241, 94);
    border-radius: 10px;
}
.box-reting{
    background-color: aliceblue;
    max-width: 275px;
    max-height: 118px;
    margin: 20px 10px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.content-cared{
    background-color: rgb(243, 243, 231);
    padding: 50px;
}
samp{
    font-weight: bold;
}
.box-dawat{
    max-width: 780px;
    max-height: 344px;
    padding: 5px;
    background-color:rgb(182, 241, 94);
    border-radius: 10px;
    justify-content: space-between;
}
.box-india{
    justify-content: space-between;
   
    width: 100%; 
    margin-left: 25px;
    padding: 5px;
    background-color:#102861;
    border-radius: 10px;
    
}
.india-gate{
    border-color: #102861;
    border-radius: 5px;
    background-color:#102861;
    color:#fff;
    padding: 10px 25px;
}
.india-gate:hover{
    background-color:#1f3770;
    color:black;
}
.box-arrival{
     
}
.reting{
    

}
